<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gemoc.gemoc_language_workbench.metaprog">
      <approach
            dependencies="org.eclipse.gemoc.metaprog.ecore"
            name="org.eclipse.gemoc.metaprog.kermeta3"
            validator="org.eclipse.gemoc.execution.sequential.javaxdsml.ruleprovider.Kermeta3RuleProvider">
         <languageComponent
               description="Entry for the Kermeta3 metaprogramming approach.\n Used to list the various aspects required for the language."
               name="k3"
               optional="false">
         </languageComponent>
         <languageComponent
               description="Entry used to define the sirius file in which the graphical elements for modelling the DSL are locatted."
               name="sirius"
               optional="true">
         </languageComponent>
         <languageComponent
               description="Entry for the definition of the concrete syntax of the DSL."
               name="xtext"
               optional="true">
         </languageComponent>
      </approach>
   </extension>

</plugin>
